%table
  %thead
    %tr
      = table_head %w(name slices_count sites_count)
  
  %tbody
    - @pools.each do |pool|
      %tr{:class => cycle(:odd, :even)}
        %td= link_to pool.name, pool
        %td= pool.slices.count
        %td= pool.sites.count
        %td
          %ul.actions
            %li= link_to t('Show'), pool, :class => "view tooltip"
            %li= link_to t('Edit'), edit_pool_path(pool), :class => "edit tooltip"
            %li= link_to t('Destroy'), pool, :method => :delete, :confirm => t('are_you_sure'), :class => "delete tooltip"
- if @pools.respond_to?(:total_pages)            
  = will_paginate @pools