%h1= t('.title')
%p= link_to t('.new_condition'), new_condition_path

%table
  %thead
    %tr
      %th= Condition.human_attribute_name :event_type
      %th= Condition.human_attribute_name :model
      %th= Condition.human_attribute_name :fields
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for condition in @conditions
      %tr{ :class => cycle(:odd, :even) }
        %td= condition.event_type
        %td= condition.model
        %td= condition.fields
        %td.action= link_to t('show'), condition
        %td.action= link_to t('edit'), edit_condition_path(condition)
        %td.action= link_to t('destroy'), condition, :confirm => t('are_you_sure'), :method => :delete
