= workspace "Dashboard" do
  - add_shortcut "Tickets", tickets_path, :count => 4 

  = section "Site Statistics", :class => "grid_6" do 
    = render "sites/stats"

  = section "Host Statistics", :class => "grid_6" do 
    = render "hosts/stats"
      
  .clearfix
  
  = section "Slice Statistics", :class => "grid_6" do 
    = render "slices/stats"
  
  = section "Database Statistics", :class => "grid_6" do 
    = render "databases/stats"

  .clearfix
  
  = section "Summary", :class => "grid_6" do 
    %ul.stats-summary
      = display_summary(Host)
      = display_summary(Slice)
      = display_summary(Site)
      
  .clearfix

