- add_shortcut "Tickets", tickets_path, :count => 4 

%section.portlet.grid_6.leading
  %header
    %h2 Site Statistics
  %section
    = render "sites/stats"

%section.portlet.grid_6.leading
  %header
    %h2 Host Statistics
  %section
    = render "hosts/stats"
.clear
%section.portlet.grid_6.leading
  %header
    %h2 Slice Statistics
  %section
    = render "slices/stats"

%section.portlet.grid_6.leading
  %header
    %h2 Database Statistics
  %section
    = render "databases/stats"
    
%article.content.col2.clear-rm
  %header
    %h2 Summary
    %nav
      %a.toggle-options-switch.button.gray{:href => "#"}
        = image_tag("icon_options.png", :alt => "Options") 
      %ul.options-switch{:style => "display: none;"}
        %li
          %a{:href => "#"} View
        %li
          %a{:href => "#"} Edit
        %li
          %a{:href => "#"} Delete
  %section
    %ul.stats-summary
      = display_summary(Host)
      = display_summary(Slice)
      = display_summary(Site)
.clearfix

