%section#dashboard
  %h1 Dashboard
  = render "layouts/breadcrumbs"
    
  %ul.shortcuts
    %li.shortcut-tickets= link_to "Tickets", tickets_path
    
%article.content-box.minimizer
  %header
    %h2 Statistics
    %nav
      %ul.tabs
        %li= link_to "Sites", "#tab1", :class => "default"
        %li= link_to "Hosts", "#tab2"
        %li= link_to "Slices", "#tab3"
        %li= link_to "Databases", "#tab4"
  %section
    #tab1.tab.default
      %h3 Sites statistics
      = render "sites/stats"
    #tab2.tab
      %h3 Hosts statistics
      = render "hosts/stats"
    #tab3.tab
      %h3 Slice statistics
      = render "slices/stats"
    #tab4.tab
      %h3 Databases statistics
      = render "databases/stats"
  %footer
.clearfix

