%h4 Register
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  %dl
    %dt= f.label :email
    %dd= f.text_field :email
    %dt= f.label :password
    %dd= f.password_field :password
    %dt= f.label :password_confirmation
    %dd= f.password_field :password_confirmation
  = f.submit "Register"
