%h1= t('.title')
%p= link_to t('.new_network_address'), new_network_address_path

%table
  %thead
    %tr
      %th= NetworkAddress.human_attribute_name :network
      %th= NetworkAddress.human_attribute_name :ip
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for network_address in @network_addresses
      %tr{ :class => cycle(:odd, :even) }
        %td= network_address.network
        %td= network_address.ip
        %td.action= link_to t('show'), network_address
        %td.action= link_to t('edit'), edit_network_address_path(network_address)
        %td.action= link_to t('destroy'), network_address, :confirm => t('are_you_sure'), :method => :delete
