- @title = "Tasks"
%p= link_to "New task", new_task_path

%table.table
  %thead
    %tr
      %th
      %th= Task.human_attribute_name :name
      %th= Task.human_attribute_name :job
      %th= Task.human_attribute_name :script
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for task in @tasks
      %tr{ :class => cycle(:odd, :even) }
        %td= task.name
        %td= task.job
        %td= task.script
        %td.action= link_to t('show'), task
        %td.action= link_to t('edit'), edit_task_path(task)
        %td.action= link_to t('destroy'), task, :confirm => t('are_you_sure'), :method => :delete
