= semantic_form_for(@network) do |f|
  - if @network.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@network.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @network.errors.full_messages.each do |msg|
        %li= msg
  
  %dl
    = f.input :name
    = f.input :cidr
    = f.input :address
    = f.input :netmask
    = f.input :gateway
    = f.input :vlan
    = f.input :begin_ip
    = f.input :end_ip
    
  = f.submit
