= semantic_form_for(@network) do |f|
  - if @network.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@network.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @network.errors.full_messages.each do |msg|
        %li= msg
  
  %dl
    = f.input :zone
    = f.input :name
    = f.input :address
    = f.input :gateway
    = f.input :dns1
    = f.input :dns2
    = f.input :system
    = f.input :shared
    = f.input :default
    = f.input :private
    
    = f.input :begin_ip
    = f.input :end_ip
    
  = f.submit
