- @networks.each do |network| 
  %tr{ :class => cycle(:odd, :even) }
    %td= link_to network.name, network
    %td= network.cidr
    %td= network.vlan
    %td= network.addresses.count
    %td= 0
    %td
      %ul.actions
        %li= link_to t('show'), network, :class => "view tooltip"
        %li= link_to t('edit'), edit_network_path(network), :class => "edit tooltip"
        %li= link_to t('destroy'), network, :method => :delete, :confirm => t('are_you_sure'), :class => "delete tooltip"
