= semantic_form_for(@job) do |f|
  - if @job.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@job.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @job.errors.full_messages.each do |msg|
        %li= msg
  
  = f.input :name
  = f.input :params

  %li#conditions.fields
    %h3 Conditions
    = f.semantic_fields_for :conditions do |condition|
      = render 'condition_fields', :f => condition
    .links
      = link_to_add_association 'Add condition', f, :conditions

  %li#tasks.fields
    %h3 Tasks
    = f.semantic_fields_for :job_tasks do |task|
      = render 'job_task_fields', :f => task
    .links
      = link_to_add_association 'Add task', f, :job_tasks

  = f.commit_button
