- @title = "Jobs"
%p= link_to "New job", new_job_path

%table.table
  %thead
    %tr
      = table_columns %w(name, params)
  
  %tbody
    - for job in @jobs
      %tr{ :class => cycle(:odd, :even) }
        %td= job.id
        %td= job.name
        %td= job.params
        %td.action
          = link_to 'Show', job
          = link_to 'Edit', edit_job_path(job)
          = link_to 'Destroy', job, :confirm => 'Are you sure', :method => :delete
