= form_for(@host) do |f|
  - if @host.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@host.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @host.errors.full_messages.each do |msg|
        %li= msg
  
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :ip
    %br
    = f.text_field :ip

  .actions
    = f.submit
