= semantic_form_for(@host) do |f|
  - if @host.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@host.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @host.errors.full_messages.each do |msg|
        %li= msg
  
  = f.inputs do
    = f.input :name
    = f.input :zone
    = f.input :public_ip
    = f.input :private_ip

  = f.buttons do
    = f.commit_button
