%table
  %thead
    %tr
      = table_head %w(name zone public_ip private_ip state slices_count)
  %tbody
    - for host in @hosts
      %tr{:class => cycle(:odd, :even)}
        %td= link_to host.name, host
        %td= host.zone.name
        %td= host.public_ip
        %td= host.private_ip
        %td= host.state
        %td= host.slices.count
        %td.actions
          = link_to t('show'), host
          = link_to t('edit'), edit_host_path(host)
          = link_to t('destroy'), host, :confirm => t('are_you_sure'), :method => :delete
= will_paginate @hosts