- for host in @hosts
  %tr{ :class => cycle(:odd, :even) }
    %td= host.name
    %td= host.ip
    %td.actions
      = link_to t('show'), host
      = link_to t('edit'), edit_host_path(host)
      = link_to t('destroy'), host, :confirm => t('are_you_sure'), :method => :delete
