%tr
  %th= Host.human_attribute_name :name
  %th= Host.human_attribute_name :zone
  %th= Host.human_attribute_name :public_ip
  %th= Host.human_attribute_name :private_ip
  %th= Host.human_attribute_name :state
  %th.actions= t 'actions'
