- @title = "Queue Jobs"
/%p=# link_to t('.new_queue_job'), new_queue_job_path

%table.table
  %thead
    %tr
      = table_columns %w(created_at job status completed_at)
  
  %tbody
    - for queue_job in @queue_jobs
      %tr{ :class => cycle(:odd, :even) }
        %td= queue_job.id
        %td= queue_job.created_at
        %td= queue_job.job.name
        %td= queue_job.status
        %td= queue_job.completed_at
        %td.action
          = link_to "Show", queue_job
          = link_to 'Edit', edit_queue_job_path(queue_job)
          = link_to 'Destroy', queue_job, :confirm => 'Are you sure', :method => :delete
