= semantic_form_for(@customer) do |f|
  - if @customer.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@customer.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @customer.errors.full_messages.each do |msg|
        %li= msg
  
  = f.input :name
  = f.commit_button
