%h1 Customers
%p= link_to 'New customer', new_customer_path

%table.table
  %thead
    %tr
      %th.check
      %th Customer
      %th.options
  
  %tbody
    - for customer in @customers
      %tr{:class => cycle(:odd, :even)}
        %td= customer.id
        %td= customer.name
        %td.options
          = link_to 'Show', customer
          = link_to 'Edit', edit_customer_path(customer)
          = link_to 'Destroy', customer, :confirm => 'Are you sure', :method => :delete
