= semantic_form_for @ticket do |f|
  =# f.semantic_errors
  = f.input :title
  = f.input :group
  = f.input :priority
  = f.input :details
  =# f.input :status
  =# f.input :author
  =# f.input :owner
  =# f.input :closed_at
  =# f.input :comments_count
  = f.commit_button
