= form_for(resource, :as => resource_name, :url => session_path(resource_name), :style => "margin-top: 30px") do |f|
  %p{:style => "margin-bottom: 30px"}
    = f.text_field :email, :class => "full", :placeholder => "E-Mail", :required => "required", :type => "text"
  %p{:style => "margin-bottom: 30px"}
    = f.password_field :password, :class => "full", :placeholder => "Password", :required => "required", :type => "password"
  %p.clearfix 
    - if devise_mapping.rememberable?
      %span.fl{:style => "line-height: 23px;"}
        %label.choice{:for => "remember_me"}
          #uniform-remember.checker
            %span
              = f.check_box :remember_me, :style => "opacity: 0; ", :type => "checkbox"
          Remember me
    = f.submit "Sign in", :class => "fr"
   
