= semantic_form_for @slice do |f|
  - if @slice.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@slice.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @slice.errors.full_messages.each do |msg|
        %li= msg
  
  = f.input :name
  = f.input :host
  = f.input :network_address, :label_method => :ip
  = f.commit_button
