%table
  %thead
    %tr
      = table_head %w(name host last_host cpu memory pool state sites_count)
  %tbody
    - @slices.each do |slice| 
      %tr{:class => cycle(:odd, :even)}
        %td= link_to slice.name, slice
        %td= slice.host.name
        %td
        %td= slice.cpu
        %td= slice.memory
        %td= slice.pool.try(:name)
        %td= slice.state
        %td= slice.sites.count
        %td
          %ul.actions
            %li= link_to t('show'), slice, :class => "view tooltip"
            %li= link_to t('edit'), edit_slice_path(slice), :class => "edit tooltip"
            %li= link_to t('destroy'), slice, :method => :delete, :confirm => t('are_you_sure'), :class => "delete tooltip"
= will_paginate @slices    