%table
  %thead
    %tr
      %th Name
      %th Host
      %th Last Host
      %th CPU
      %th Memory
      %th Sites
      %th State
      %th.actions Options
  %tbody
    - @slices.each do |slice| 
      %tr{:class => cycle(:odd, :even)}
        %td= link_to slice.name, slice
        %td= slice.host.name
        %td
        %td= slice.cpu
        %td= slice.memory
        %td 0
        %td= slice.state
        %td
          %ul.actions
            %li= link_to t('show'), slice, :class => "view tooltip"
            %li= link_to t('edit'), edit_slice_path(slice), :class => "edit tooltip"
            %li= link_to t('destroy'), slice, :method => :delete, :confirm => t('are_you_sure'), :class => "delete tooltip"
= will_paginate @slices    