= workspace "Slice '#{@slice.name}'" do
  - add_breadcrumb @slice.name, slice_path(@slice)

  = section "Info", :class => "grid_5" do
    = link_to "Edit", edit_slice_path(@slice)
  
    %dl
      %dt= Slice.human_attribute_name :name
      %dd= @slice.name
      %dt= Slice.human_attribute_name :host
      %dd= @slice.host.name
      %dt= Slice.human_attribute_name :cpu
      %dd= @slice.cpu
      %dt= Slice.human_attribute_name :memory
      %dd= @slice.memory
      %dt= Slice.human_attribute_name :pool
      %dd= @slice.pool.try(:name)

  = section "Active Sites", :class => "grid_7" do
    %table.display
      %thead
        %tr
          = table_head %w(site)
      %tbody
        - @slice.sites.each do |site|
          %tr
            %td= link_to site.name, site
            %td
        
  .clearfix
