= semantic_form_for(@database) do |f|
  - if @database.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@database.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @database.errors.full_messages.each do |msg|
        %li= msg
  
  = f.input :customer
  = f.input :name
  = f.commit_button
