%h1 Databases
%p= link_to 'New database', new_database_path

%table.table
  %thead
    %tr
      %th.check
      %th Name
      %th Customer
      %th Site
      %th.options
  
  %tbody
    - for database in @databases
      %tr{:class => cycle(:odd, :even)}
        %td= h database.id
        %td= h database.name
        %td= h database.customer.name if database.customer
        %td= h database.site.name if database.site
        %td.options
          = link_to 'Show', database
          = link_to 'Edit', edit_database_path(database)
          = link_to 'Destroy', database, :confirm => 'Are you sure', :method => :delete
