%h1= t('.title')
%p= link_to t('.new_database'), new_database_path

%table
  %thead
    %tr
      %th= Database.human_attribute_name :customer
      %th= Database.human_attribute_name :name
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for database in @databases
      %tr{ :class => cycle(:odd, :even) }
        %td= database.customer
        %td= database.name
        %td.action= link_to t('show'), database
        %td.action= link_to t('edit'), edit_database_path(database)
        %td.action= link_to t('destroy'), database, :confirm => t('are_you_sure'), :method => :delete
