- @title = resource_class.name.pluralize.titleize

%section.portlet.grid_12.leading
  %header
    %h2 #{resource_class.name} list
    %nav
      %ul.button-switch
        %li= link_to "New #{resource_class.name.downcase}", new_resource_path, :class => "button"
          
  %section
    - begin
      = render "list"
    - rescue ActionView::MissingTemplate
      = render resource_class.name.pluralize.downcase
