= semantic_form_for @product do |f|
  - if @product.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@product.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @product.errors.full_messages.each do |msg|
        %li= msg

  = f.inputs do  
    = f.input :name
    = f.input :version
    = f.input :demo, :as => :boolean

  = f.buttons do  
    = f.commit_button
