- @title = "Product '#{@product.name}'"
- add_breadcrumb @product.name, product_path(@product)

%article.content.col2
  %header
    %h2 Info
    %nav
      = link_to image_tag("icon_options.png", :alt => "Options"), "#", :class => "toggle-options-switch button gray" 
      %ul.options-switch{:style => "display: none;"}
        %li= link_to "Edit", edit_product_path(@product)
  
  %section
    %dl
      %dt= Product.human_attribute_name :name
      %dd= @product.name
      %dt= Product.human_attribute_name :version
      %dd= @product.version
      %dt= Product.human_attribute_name :demo
      %dd= @product.demo

%article.content.col2.clear-rm
  %header
    %h2 Sites
  %section
    %table
      %thead
        %tr
          = table_head %w(site)
      %tbody
        - @product.sites.each do |site|
          %tr
            %td= link_to site.name, site
            %td.actions
        
.clearfix
