= semantic_form_for @site do |f|
  - if @site.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@site.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @site.errors.full_messages.each do |msg|
        %li= msg
  
  = f.input :name
  = f.input :slice
  = f.input :pool

  = f.submit
