- if @site.errors.any?
  .message.error
    %h3= "#{pluralize(@site.errors.count, 'error')} prohibited this user from being saved:"
    %ul
    - @site.errors.full_messages.each do |msg|
      %li= msg
      
= semantic_form_for @site do |f|
  = f.inputs "General" do
    = f.input :name, :hint => "Subdomain name"
    = f.input :product
  = f.inputs "Deploy information" do
    = f.input :slice
    = f.input :pool

  = f.buttons do
    = f.submit
  
