.timeline
  %h5= link_to "Site Errors", site_errors_path
  %ul
    - max_count = @timeline_site_errors.collect{|item| item[1]}.max
    - @timeline.each_with_index do |day, i|
      - count = @timeline_site_errors[@timeline[i]].blank? ? 0 : @timeline_site_errors[@timeline[i]]  
      %li
        %a(href="#" title="#{count} #{count == 1 ? 'error' : 'errorss'} on #{day}" onclick="return false;")
          - if count == 0
            - height = '1px'
          - else
            - if count == max_count
              - height = '100%'
            - else
              - if (count.to_f / max_count) * 100 < 1
                - height = '1px'
              - else
                - height = (count.to_f / max_count) * 100
                - height = height.to_s + "%"
          %span.count{:style => "height: #{height};"}= count
