- @sites.each do |site|
  %tr{:class => cycle(:odd, :even)}
    %td= site.id
    %td= site.name
    %td= site.slice.try(:name)
    %td= site.customer.try(:name)
    %td= site.database.try(:name)
    %td.options
      = link_to 'Show', site
      = link_to 'Edit', edit_site_path(site)
      = link_to 'Destroy', site, :confirm => 'Are you sure', :method => :delete
