%h1 Sites
%p= link_to 'New site', new_site_path

%table.table
  %thead
    %tr
      %th.check
      %th Name
      %th Slice
      %th Customer
      %th Database
      %th.options Options
  
  %tbody
    - for site in @sites
      %tr{:class => cycle(:odd, :even)}
        %td= h site.id
        %td= h site.name
        %td= h site.slice.name if site.slice
        %td= h site.customer.name if site.customer
        %td= h site.database.name if site.database
        %td.options
          = link_to 'Show', site
          = link_to 'Edit', edit_site_path(site)
          = link_to 'Destroy', site, :confirm => 'Are you sure', :method => :delete
