- @title = "Site '#{@site.name}'"
- add_breadcrumb @site.name, site_path(@site)

%article.content.col2
  %header
    %h2 Info
    %nav
      = link_to image_tag("icon_options.png", :alt => "Options"), "#", :class => "toggle-options-switch button gray" 
      %ul.options-switch{:style => "display: none;"}
        %li= link_to "Edit", edit_site_path(@site)
  
  %section
    %ul
      %li State
      %li Pool: #{@site.pool.try(:name)}
      %li
        Site instances
        %table
          %thead
            %tr
              %th Slice
              %th State
              %th Enabled
          %tbody
            - @site.instances.each do |instance|
              %tr
                %td= instance.slice.name
                %td= instance.state
                %td= instance.enabled?
          
%article.content.col2.clear-rm
  %header
    %h2 Usage statistics
    %nav
      %ul.button-switch
        %li= link_to "Refresh", "#", :class => "button"
  
  %section
    %ul
      %li User statistics    
      %li Web alizer
      %li Traffic
      %li Summary CPU usage

.clearfix

%article.content
  %header
    %h2 Support
    %nav
      /%form.content-box-header-search{:action => "/"}
      /  %input.content-box-header-search-input{:name => "", :type => "text"}
      /    %button.content-box-header-search-btn Search
  %section
    .sidetabs
      %nav.sidetab-switch
        %ul
          %li= link_to "Error Logs", "#sidetab1", :class => "default-sidetab current"
          %li= link_to "Tickets", "#sidetab2" 
        %p Support info
      #sidetab1.sidetab.default-sidetab
        = render "site_errors/list"
      #sidetab2.sidetab{:style => "display: none;"}
        
