- add_breadcrumb @site.name, site_path(@site)

= workspace "Site '#{@site.name}'" do 
  %nav
    /  = link_to image_tag("icon_options.png", :alt => "Options"), "#", :class => "toggle-options-switch button gray" 
    /  %ul.options-switch{:style => "display: none; margin-left: 8px"}
    = link_to "Edit", edit_site_path(@site)
  = section "Info", :class => "grid_5" do
    %dl
      %dt State
      %dd #Todo
      %dt Pool
      %dd= @site.pool.try(:name)
      %dt Product
      %dd= @site.product.try(:name)
      %dt Site instances
      %dd        
        %table.display
          %thead
            %tr
              = table_head %w(slice state enabled)
          %tbody
            = render @site.instances
  

  = section "Usage statistics", :class => "grid_7" do
    /%nav
    /  %ul.button-switch
    /    %li= link_to "Refresh", "#", :class => "button"
    %ul
      %li User statistics    
      %li Web alizer
      %li Traffic
      %li Summary CPU usage

  .clearfix

  = section "Errors" do
    =# render "site_errors/list"
    %table#site_errors.display.datatable{"data-remote" => site_site_errors_path(@site, :datatables)}
      %thead
        %tr
          %th{"data-member" => "id"} Error #
          %th{"data-member" => "date", :sort => true} Date
          %th{"data-member" => "title"} Title
          %th{"data-member" => "host"} Slice
          %th{"data-member" => "level"} Level
      %tbody         
        
