%h1= link_to "HyperCloud", root_url, :title => "Back to Homepage"
%nav
  %ul#main-navigation.clearfix
    %li= link_to "Dashboard", dashboard_path
    %li= link_to "Hosts", hosts_path
    /%li.dropdown
    /  = link_to "Slices", slices_path
    /  %ul
    %li= link_to "Pools", pools_path
    /%li= link_to "Sites", sites_path
    /%li= link_to "Databases", databases_path
    %li= link_to "Networks", networks_path
    %li= link_to "Products", products_path
    %li= link_to "Zones", zones_path
    %li.dropdown
      = link_to "Zabbix", "/zabbix"
      %ul
        %li= link_to "Hosts", zabbix_hosts_path
         
    - if current_user
      %li.fr.dropdown
        = link_to "#", :class => "with-profile-image" do 
          %span>
            = image_tag "profile-image.png"
          = current_user.email
        %ul
          %li= link_to "Settings", "#"
          %li= link_to "Users", users_path
          %li= link_to "Groups", "#"
          %li= link_to "Logout", destroy_user_session_path, :method => :get
  