.navigation-wrapper
  = link_to "HyperCloud", root_url, :id => "logo", :title => "Back to Homepage"
  %nav#nav-main
    %ul#nav-main-navigation
      %li= link_to "Dashboard", dashboard_path
      %li= link_to "Sites", sites_path
      %li
        = link_to "Databases", databases_path
        %span.small-notification 3
      %li
        %a.nav-main-subnav{:href => "#submenu-3", :title => ""} Tickets
      %li
        %a.nav-main-subnav{:href => "#submenu-4", :title => ""} Users
        
    %ul#nav-main-user
      %li Welcome, #{link_to current_user.email, "#"}
      %li= link_to image_tag("icon_user_message.png", :alt => "Messages"), "#", :title => "Messages", :class => "actions"  
      %li= link_to image_tag("icon_user_settings.png", :alt => "Settings"), "#", :title => "Settings", :class => "actions"  
      %li= link_to image_tag("icon_user_logout.png", :alt => "Logout"), destroy_user_session_path, :method => :delete, :title => "Logout", :class => "actions"
  