!!! XML
!!! Strict
%html

  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %title HyperAdmin
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body.login
    #wrapper
      #logo= link_to image_tag('shared/logo.png', :size => "156x40", :alt => ""), root_url
      = yield

