!!! 5
-ie_html :class => 'no-js', :lang => 'en' do
  %head
    = render "layouts/head", :stylesheet_partial => "layouts/stylesheets"
  %body.devise
    = render "layouts/flashes"
    %article.content-box
      %header
        %h2 HyperCloud
        %nav
          - if devise_mapping.registerable? && controller_name == 'sessions' #!= 'registrations'
            %p Not a member yet? #{link_to("Join us", new_registration_path(resource_name))}!
          - if controller_name != 'sessions'
            %p Already a member? #{link_to("Sign in", new_session_path(resource_name))}!
      %section
        = yield
      %footer
        %ul.links
          - if devise_mapping.recoverable? && controller_name != 'passwords'
            %li= link_to "Forgot your password?", new_password_path(resource_name)
          - if devise_mapping.confirmable? && controller_name != 'confirmations'
            %li= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
          - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
            %li= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
            
          
    = render "layouts/javascripts"

